.landingPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.mainContent {
  flex-grow: 1; 
}

@media (max-width: 992px) {
  .mainContent {
    padding-top: 50px; 
  }
}

@media (max-width: 576px) {
  .mainContent {
    padding-top: 20px; 
  }
}