.modalOverlay {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 700px;
  max-height: 60vh;
  overflow-y: auto;
  position: relative;
  animation: fadeIn 0.3s ease-out;
}

.modalContent h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.modalContent h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555;
}

.modalContent p {
  font-size: 0.9em;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #666;
}

.modalContent ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

.modalContent ul li {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 5px;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.8em;
  cursor: pointer;
  color: #999;
  transition: color 0.2s ease;
}

.closeButton:hover {
  color: #333;
}

/* Animation for fade-in */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
  .modalContent {
    width: 100%;
    max-height: 80vh;
  }

  .modalContent p{
    text-align: left;
  }

  .modalContent ul{
    margin-left: 0;
  }
}