.heroSection {
  min-height: calc(109vh - 70px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5F5F5;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: background-image 0.3s ease-in-out;
}

.heroContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 40px;
}

.heroHeadline {
  font-size: 5.5em;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  flex: 1;
  min-width: 300px;
  text-align: left;
}

.heroTextContainer {
  flex: 1;
  min-width: 300px;
  text-align: left;
}

.heroDescription {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 30px;
  padding: 10px 40px;
}

.heroReserveButton {
  background-color: #F5F5F5;
  color: #2E4B2F;
  border: none;
  border-radius: 25px;
  padding: 15px 60px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: 35px;
}

.heroReserveButton:hover {
  background-color: #1E3C24;
  color: #F5F5F5 ;
  transform: scale(1.01); 
  box-shadow: 
    0 4px 20px rgba(255, 255, 255, 0.347), 
    0 0 15px rgba(46, 75, 47, 0.4); 
  transition: all 0.4s ease-in-out; 
}

.heroReserveButton:focus {
  outline: 3px solid #007bff;
  outline-offset: 2px;
  background-color: #1E3C24;
  color: #F5F5F5;
}

.heroReserveButton:focus:not(:focus-visible) {
  outline: none;
}

@media (max-width: 992px) {
  .heroReserveButton {
    margin-left: 0px;
  }

  .heroContent {
    flex-direction: column;
    text-align: center;
  }

  .heroHeadline {
    font-size: 4em;
    text-align: center;
  }

  .heroTextContainer {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .heroHeadline {
    font-size: 3em;
  }

  .heroDescription {
    font-size: 1em;
  }

  .heroReserveButton {
    padding: 12px 30px;
    font-size: 1.1em;
  }
}