.dormitory-header-container {
display: flex;
align-items: center;
gap: 30px;
margin-bottom: auto;
font-family: "Montserrat", sans-serif;
}

.dormitory-header-title {
font-size: 50px;
font-weight: 700;
color: #4F3718;
}

.dormitory-header-add-btn {
background: #1E3C24;
color: #f5f5f5;
border: none;
border-radius: 20px;
padding: 15px 24px;
font-size: 1.2rem;
display: flex;
align-items: center;
cursor: pointer;
transition: all 0.2s ease-in-out;
font-family: "Montserrat", sans-serif;
}

.dormitory-header-add-btn:hover {
background: #538e5e;
}

.dormitory-header-icon {
font-size: 1rem;
margin-right: 10px;
}