.passwordInputWrapper {
  position: relative;
  margin-bottom: 20px;
}

.passwordInput {
  margin-bottom: 0;
}

.passwordToggle {
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 1.1em;
}

.forgotPasswordContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.forgotPasswordLink {
  font-size: 0.9em;
  color: #1E3C24;
  text-decoration: none;
}

.errorMessage {
  color: red;
}